{
  "client_id": "<client id",
  "client_secret": "<client secret>",
  "tenant_id": "<tenant id>",
  "subscription_id": "<subscription_id>",
  "region": "eastus",
  "sshkey": "axiom_rsa",
  "resource_group": "axiom",
  "provider": "azure",
  "default_size": "Standard_B1ls",
  "use_azure_cli_auth": "true",
  "imageid": "axiom-default-<timestamp>",
  "provisioner": "default",
  "allowed_inbound_ip_addresses": ["192.168.0.0"],
  "osmedeus_install_path": "https://raw.githubusercontent.com/osmedeus/osmedeus-base/master/install.sh"
}
