{
  "hetzner_key": "<hetzner api key>",
  "region": "nbg1",
  "provider": "hetzner",
  "default_size": "cx22",
  "sshkey": "axiom_rsa",
  "op": "<redacted>",
  "imageid": "axiom-default-<timestamp>",
  "provisioner": "default",
  "osmedeus_install_path": "https://raw.githubusercontent.com/osmedeus/osmedeus-base/master/install.sh"
}
