{
  "linode_key": "<linode api key>",
  "region": "us-east",
  "provider": "linode",
  "default_size": "g6-standard-1",
  "sshkey": "axiom_rsa",
  "op": "<redacted>",
  "imageid": "axiom-default-<timestamp>",
  "provisioner": "default",
  "osmedeus_install_path": "https://raw.githubusercontent.com/osmedeus/osmedeus-base/master/install.sh"
}

